<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123363855179-dv6u08od2892ek07n78t59snvlulav4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123363855179-dv6u08od2892ek07n78t59snvlulav4s</string>
	<key>API_KEY</key>
	<string>AIzaSyA3x9FRyGgY0k4mmzWqE4BV-QPjO6u2tHA</string>
	<key>GCM_SENDER_ID</key>
	<string>123363855179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suy.watchnow</string>
	<key>PROJECT_ID</key>
	<string>watch-now-1998</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-now-1998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123363855179:ios:442e54017e0d2d828b76ce</string>
</dict>
</plist>